# application environment
NODE_ENV=development

# flags
BEAUTIFY_HTML=false

# senha pra ser usada no query param "?_debug=xxx"
DEBUG_PWD=xxx

# domínio em que a api de usuário vai rodar
USER_API_HOST=user.api.example.com
USER_API_URL=http://user.api.example.com:4000

# domínio do front principal
FRONT_HOST=example.com
FRONT_URL=http://example.com:3000

# configuração da conexão do pg
BASE_DB_HOST=base.example.com
BASE_DB_USER=eu
BASE_DB_PWD=uhpapaichegou

# conexão smtp para envio de emails
SMTP_SERVER=smtp.nsa.gov
SMTP_USER=dilma@gov.br
SMTP_PASSWORD=123456

# segredo utilizado na geração de JWTs
JWT_SECRET=segredo

# locale cookie
LOCALE_COOKIE_NAME=locale

# dados do cookie de token
TOKEN_COOKIE_NAME=token
TOKEN_COOKIE_DOMAIN=.example.com

# variáveis relativas a ELK stack
KIBANA_HOST=kibana.example.com
LOGSTASH_HOST=log.example.com
ELASTIC_HOST=elastic.example.com
ELASTICSEARCH_URL=http://elastic.example.com:9200

# TOKEN MANAGER
TKM_URL=http://tokens.example.com
TKM_HOST=tokens.example.com

# FACEBOOK APP
FB_APP_ID=123456789
FB_APP_SECRET=ajhkj4399487324kkfdskç93284

# ADWORDS
ADWORDS_CLIENT_ID=example.google.client.whatever.com
ADWORDS_CLIENT_SECRET=9898dskjkdjljasuljrlamd
ADWORDS_DEVELOPER_TOKEN=PleaseDontTellAnyone

# LOGSTASH HTTP INPUT
LOGSTASH_HTTP_USER=sysadmin
LOGSTASH_HTTP_PWD=totzsafe

# ADPEEK
ADPEEK_URL=http://adpeek.example.com
ADPEEK_API_URL=http://api.adpeek.example.com

# configuração da conexão adpeek ao pg
ADPEEK_DB_HOST=db.example.com
ADPEEK_DB_USER=notevenwrong
ADPEEK_DB_PWD=4873784623

# internal system config
SYSTEM_EMAIL=botnet@nsa.gov
INTERNAL_API_KEY='apples & oranges'
