input {
  tcp {
    port => 28777
    type => "sample"
  }
  http {
    port => 3332
    user => {{LOGSTASH_HTTP_USER}}
    password => {{LOGSTASH_HTTP_PWD}}
  }
}

output {
  stdout { }
  elasticsearch { hosts => [ "{{ELASTIC_HOST}}:9200" ] }
}

filter { json { source => "message" } }
