server {
    listen 80;
    server_name {{TKM_HOST}};
    root /srv/http/token-manager/public;
    index index.php;

    location / {
        if ($request_method = OPTIONS) {
            add_header Access-Control-Allow-Origin "$http_origin";
            add_header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS";
            add_header Access-Control-Allow-Headers "Accept, Accept-Language, Access-Control-Expose-Headers, Authorization, Content-Type";
            add_header Access-Control-Max-Age "3600";
            return 204;
        }

        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php {
        try_files $uri =404;

        fastcgi_split_path_info ^(.+\.php)(/.+)$;

        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param SCRIPT_NAME $fastcgi_script_name;
        fastcgi_index index.php;
        fastcgi_pass unix:/run/php-fpm/php-fpm.sock;

        include fastcgi.conf;
    }
}
